<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>Wizytówka</title>
        <link rel="stylesheet" type= "text/css" href="../static/style.css">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <h1><strong>Witaj na mojej stronie domowej</strong></h1><br>
        <img src="../static/photo.JPG" alt="Chipmunk" title="aviation photo">
        {% endblock %}
        <h2 class="first">O mnie</h2>
        <strong>imię:</strong> Justyna<br><br>
        <strong>nazwisko:</strong> Nowakowska<br>
        <h3><a href="kontakt.html"> Kontakt</a></h3>
    </body>
</html>
